.applied_job_container{
    height: 200px;
}
.applied_job_container img{
    height: 100%;
    width: 50%;
}
.applied_job_container figure{
    height: 100%;
    width: 30%;
}
.applied_job_container .card-body {

    flex-direction: row;
   gap: 2rem;
}
.applied_job_container .card-actions{
    align-items: center;
}